body{
  background-color:#dfb07d;
}

.main_container{
  background-color:#dfb07d;
  width:100%;
  height:auto;
  display:none;
}

.intro{
  width:auto;
  height:1500px;
  text-align: left;
  color:white;

  background-image:url("../im/aboutus-background.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  padding:600px 100px 1000px 100px;
  /* padding total = 3500-height */

  font-family:"Pretendard Light",sans-serif;
  font-size:40pt;
}

.intro-title{
  animation:fadein-left 1s;
}

.intro-job{
  margin-top:250px;
  font-size:26pt;
  color:#c43d1f;
}

.intro-name, .intro-name2{
  font-size:30pt;
  word-spacing: 20pt;
  margin-left:0%;
  opacity:0;
  animation:intro-name-init 0.5s;
  animation-fill-mode: forwards;
}

.intro p:nth-child(5){
  animation-delay: 0.1s;
}
.intro p:nth-child(7){
  animation-delay: 0.2s;
}
.intro p:nth-child(9){
  animation-delay: 0.3s;
}
.intro p:nth-child(10){
  animation-delay: 0.3s;
}
.intro p:nth-child(12){
  animation-delay: 0.4s;
}



@keyframes intro-name-init {
  0%{
    margin-left:5%;
    opacity:0;
  }
  100%{
    margin-left:0%;
    opacity:1;
  }
}

.intro-name2{
  word-spacing:16pt;
  font-size:30pt;
}

.intro-name:active:after{
    color:white;
    position:absolute;
    right:10%;
    font-size:20pt;
    word-spacing:3px;
}
/*멘트쓰자! */
.intro p:nth-child(3):active:after{
  content:'헉헉 개발하느라 힘들었어요.';
}

.intro p:nth-child(5):active:after{
  content:'디자이너';
}

.intro p:nth-child(7):active:after{
  content:'건축공학 비대위원장';
}


.introfeed-container{
  width:100%;
  height:auto;
  display:flex;
  flex-direction: column;
  justify-content:space-around;
  align-items:center;
}

.introfeed{
  width:90%;
  height:680px;
  background-size:contain;
  background-repeat:no-repeat;
  margin:100px 0;
}


@keyframes fade {
  0%{
    opacity:0;
  }
  100%{
    opacity:100%:
  }
}

.introfeed:nth-child(1){
  background-image:url("../im/intro-1.png");
}

.introfeed p{
  color:black;
  font-size: 25pt;
  position: relative;
  top:85%;
  text-align: center;
  line-height: 50px;
  padding:0 100px;
  font-family: "Pretendard Light",sans-serif;
}

.opa0{
  opacity:0;
}

.fade{
  animation:fade 1s;
  opacity:1;
}

/*미세조정 */
.introfeed:nth-child(2) p{
  top:95%;
}


.introfeed:nth-child(2){
  background-image:url("../im/intro-2.png");
}



.introhyare{
  width:100%;
  margin-top:500px;
  font-size:15pt;
  text-align: center;
  font-family: "Pretendard Light",sans-serif;
  line-height: 30pt;
}

.introhyare p:nth-child(1){
  font-size:30pt;
  font-family: "Pretendard ExtraBold";
}
