@font-face {
  src: url("../font/Swiss 721 Bold.otf");
  font-family: "Swis721 Bold";
}

@font-face {
  src: url("../font/Swiss 721 Heavy.otf");
  font-family: "Swis721 ExtraBold";
}

@font-face {
  src: url("../font/Swiss 721 Light.otf");
  font-family: "Swis721 Light";
}

@font-face {
  src: url("../font/Swiss 721 Medium.otf");
  font-family: "Swis721 Medium";
}

@font-face {
  src: url("../font/Swiss 721 Thin.otf");
  font-family: "Swis721 Thin";
}




@font-face {
  src: url("../font/KoPub Dotum Medium.ttf");
  font-family: "KoPub Dotum Medium";
}

@font-face {
  src: url("../font/KoPub Dotum Light.ttf");
  font-family: "KoPub Dotum Light";
}

@font-face {
  src: url("../font/KoPub Dotum Bold.ttf");
  font-family: "KoPub Dotum Bold";
}

@font-face {
  src: url("../font/Pretendard-Medium.otf");
  font-family: "Pretendard Medium";
}

@font-face {
  src: url("../font/Pretendard-Light.ttf");
  font-family: "Pretendard Light";
}
@font-face {
  src: url("../font/Pretendard-Bold.otf");
  font-family: "Pretendard Bold";
}

@font-face {
  src: url("../font/Pretendard-ExtraBold.otf");
  font-family: "Pretendard ExtraBold";
}
