/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/



.main_background{
  /* background-color: gray; */
  background-image:url("../im/b-alpha.gif");
  background-size:cover;
  background-repeat: no-repeat;
  background-color:rgba(255, 0, 0, 0.5);
  -webkit-filter:brightness(1.0);
          filter:brightness(1.0);

  position:fixed;
  z-index: -1;
  width:100%;
  height:100%;

  /* display:flex; */
  display:none;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}


.maincha{
  font-size:20pt;
  font-family:sans-serif;
}

#Maincha1{
  width:auto;
  -webkit-animation: admixture-bigger 1s;
          animation: admixture-bigger 1s;
  font-size:12vw;
  font-family: "Swis721 ExtraBold",sans-serif;
  text-align:center;
  color:white;
  letter-spacing: 0;

  -webkit-transform:scale(1.1,1.0);

      -ms-transform:scale(1.1,1.0);

          transform:scale(1.1,1.0);
}

#Maincha2{
  position:absolute;
  top:54%;
  margin-top:40px;
  width:auto;
  font-size:3vw;
  font-family: "Swis721 Medium",sans-serif;
  text-align:center;
  color:rgba(237,203,160,1);
  word-spacing: 10px;
  letter-spacing: 1px;

  -webkit-animation: Maincha2 1s;

          animation: Maincha2 1s;
}

@-webkit-keyframes Maincha2 {
  0%{
    letter-spacing:2px;
    opacity:0;
  }
  100%{
    letter-spacing:1px;
    opacity:1;
  }
}

@keyframes Maincha2 {
  0%{
    letter-spacing:2px;
    opacity:0;
  }
  100%{
    letter-spacing:1px;
    opacity:1;
  }
}

#Maincha3{
  position:fixed;
  bottom:4%;
  font-family:'KoPub Dotum Light',sans-serif;
  color:white;
}







.main_container{
  width:100%;
  height:auto;
  position:absolute;
  top:100%;

  background-color:black;
}

.feed{
  margin: 0 0;
  width:100%;
  height:1700px;
  color:white;

  display:-webkit-box;

  display:-ms-flexbox;

  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feed img{
  width:100%;
}

#Feed1 img{
  width:63vw;
}

#Feed2{
  height:2175px;

  background-position: center;
  background-repeat: no-repeat;
  background-size:100%;
  background-image:url("../im/story.gif");
}


#Feed4{
  height:auto;
  margin-bottom:400px;
}

#Feed4 img{
  width:100%
  height:auto;
}
