@-webkit-keyframes admixture-bigger {
    0%{
      width:60vw;
    }
    100%{
      width:70vw;
    }
}
@keyframes admixture-bigger {
    0%{
      letter-spacing: 10px;
      /* font-size:11vw; */
    }
    100%{
      letter-spacing: 0;
      /* font-size:12vw; */
    }
}

@keyframes right-left {
  0%{
    left:100%;
  }
  100%{
    left:0;
  }
}

@keyframes right-left-reverse {
  0%{
    left:0;
  }
  100%{
    left:100%;
  }
}


@keyframes fadein-left {
  0%{
    transform:translate(50px,0);
    opacity:0;
  }
  100%{
    transform:translate(0,0);
    opacity:1;
  }
}

@keyframes fadein-left_custom1 {
  0%{
    padding:0 0 0 200px;
    opacity:0;
  }
  100%{
    padding:0 0 0 100px;
    opacity:1;
  }
}

@keyframes fadein-right_custom1 {
  0%{
    margin-right:100px;
    opacity:0;
  }
  100%{
    margin-right:0px;
    opacity:1;
  }
}
