@-webkit-keyframes admixture-bigger {
    0%{
      width:60vw;
    }
    100%{
      width:70vw;
    }
}
@keyframes admixture-bigger {
    0%{
      width:60vw;
    }
    100%{
      width:70vw;
    }
}

@keyframes right-left {
  0%{
    left:100%;
  }
  100%{
    left:0;
  }
}

@keyframes right-left-reverse {
  0%{
    left:0;
  }
  100%{
    left:100%;
  }
}


@keyframes fadein-left {
  0%{
    transform:translate(50px,0);
    opacity:0;
  }
  100%{
    transform:translate(0,0);
    opacity:1;
  }
}
