/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

html {
    scroll-behavior: smooth;
}

body{
  -ms-overflow-style: none; /* IE and Edge */
   scrollbar-width: none; /* Firefox */
   margin:0;
   font-family: ;
}

.loading{
  position:fixed;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width:100%;
  height:100%;
  background-color:black;
  z-index: 10;
  color:white;
  font-size:3.3vw;
  font-family: "Pretendard Light",sans-serif;
}

.loading img{
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
}

.sub_container{
  position:fixed;
  width:100%;
  height:150px;
  z-index:3;

  display:-webkit-box;

  display:-ms-flexbox;

  display:flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  /* background-color:yellow; */
}

.sub_container a{
  width:180px;
  height:180px;

  /* background-color:green; */
}

.sub_text{
  background-image:url("../im/HYU-ARE.png");
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;

  margin:0 0 0 40px;
}

.menubar{
  background-image:url("../im/menubar.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size:52px;
  cursor:pointer;
}



/* menu container입니당*/

.menu-container{
  display:block;
  position:fixed;
  z-index: 5;
  width:100%;
  height:100%;
  background-color:black;

  color:white;
  text-align:center;
  font-size:20pt;
  opacity:1;
  z-index: 5;
  left:100%;
  /* left:0; */


}
.animated{
  -webkit-animation: right-left 0.3s ease-out;
          animation: right-left 0.3s ease-out;
  left:0;
}
.animated-after{

  -webkit-animation: right-left-reverse 0.3s;

          animation: right-left-reverse 0.3s;
}

.menu-item-container{
  top:15%;
  width:30%;
  height:700px;
  right:10%;
  position:absolute;

  display:-webkit-box;

  display:-ms-flexbox;

  display:flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack:distribute;
      justify-content:space-around;

  font-size:4.4vw;
  font-family:"Pretendard Medium",sans-serif;
  color:white;
  text-align:right;
}

.menu-item-container a{
  text-decoration: none;
  color:white;
}

.menu-item:active{
  color:#fbd0ad;
}

.xsign{
  position:absolute;
  width:50px;
  height:50px;
  background-image:url("../im/X.png");
  background-size:contain;
  background-position:center;
  right:80px;
  top:80px;

}

/* ---------------------- */

footer{
  position:relative;
  bottom:0;
  height:200px;
  width:100%;
  background-color:black;
  bottom:0;
  color:white;

  display:-webkit-box;

  display:-ms-flexbox;

  display:flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  font-family:"KoPub Dotum Light", sans-serif;
}

.fin_char{
  font-size:16pt;
}

.fin_char:nth-child(1){
  margin-bottom:20px;
}

.upper{
  position:fixed;
  display:none;
  cursor:pointer;
}

.upper::after{
  position:fixed;
  right:10%;
  bottom:14%;
  content:'';
  width:50px;
  height:50px;
  border-top:1.4px solid white;
  border-right:1.4px solid white;
  -webkit-transform:rotate(-45deg);
      -ms-transform:rotate(-45deg);
          transform:rotate(-45deg);
}

.upper::before{
  position:fixed;
  right:10%;
  bottom:12%;
  content:'';
  width:50px;
  height:50px;
  border-top:1px solid white;
  border-right:1px solid white;
  -webkit-transform:rotate(-45deg);
      -ms-transform:rotate(-45deg);
          transform:rotate(-45deg);
}

.upper::after{
  -webkit-animation: upper-init 1s;
          animation: upper-init 1s;
}

.upper::before{
  -webkit-animation:upper-init2 1s;
          animation:upper-init2 1s;
}

@-webkit-keyframes upper-init {
  0%{
    opacity:0;
    bottom:12%;
  }
  50%{
    opacity:1;
  }
  100%{
    bottom:14%;
  }
}

@keyframes upper-init {
  0%{
    opacity:0;
    bottom:12%;
  }
  50%{
    opacity:1;
  }
  100%{
    bottom:14%;
  }
}

@-webkit-keyframes upper-init2 {
  0%{
    opacity:0;
    bottom:11%;
  }
  100%{
    opacity:1;
    bottom:12%;
  }
}

@keyframes upper-init2 {
  0%{
    opacity:0;
    bottom:11%;
  }
  100%{
    opacity:1;
    bottom:12%;
  }
}



.warning_com{
  display:none;
  position:fixed;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.7);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align:center;
  z-index: 10;
  cursor:pointer;
  opacity:0;
  -webkit-animation:fadein 1s;
          animation:fadein 1s;
  -webkit-animation-delay:3s;
          animation-delay:3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.warning_com p{
  color:white;
  font-family: "KoPub Dotum Medium",sans-serif;
  font-size:30px;
}

.warning_com .qr{
  width:300px;
  height:300px;
  background-color:white;
  /* qr삽입 */
  background-image:url('../im/qr.png');
  background-size:contain;
}

footer .fin_char:nth-child(1){
  letter-spacing: 2px;
}
